* {
  margin: 0;
  padding: 0;
}

.white {
  background-color: #eeeed2;
}

.black {
  background-color: #769656;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.board-size {
  width: 84vh;
  height: 84vh;
  display: flex;
  flex-direction: row-reverse;
  background-color: #eeeed2;
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid #000;
  box-sizing: border-box;
}

.board-rank {
  width: calc(4vh - 3px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.rank {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 4px;
  box-sizing: border-box;
}

.board-file {
  width: calc(100% - 4vh);
  display: flex;
}

.file {
  width: calc(100% / 8);
  padding: 4px;
  box-sizing: border-box;
}

.box {
    width: 10vh;
    height: 10vh;
}

.size-50 {
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
